@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Raleway:wght@200&display=swap");
@font-face {
  font-family: "QuincyCF-Black";
  src: url(/font/QuincyCF-Black.otf) format("opentype");
}
@font-face {
  font-family: "FontsFree-Net-Dream-Avenue";
  src: url(/font/FontsFree-Net-Dream-Avenue.ttf) format("opentype");
}
/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway";
  background: #fff;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
h1 {
  font-family: "QuincyCF-Black";
  font-weight: 300;
  line-height: 1.2;
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: rgb(6, 6, 6);
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: rgb(103, 102, 102);
  padding: 10px 20px;
  margin: 0 5px;
  font-size: larger;
  font-weight: 500;
  font-family: "QuincyCF-Black";
}

.navbar a:hover {
  color: black;
  border-bottom: black 1px solid;
}
.navbar ul {
  display: flex;
}
/* dropdown  */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  display: block;
}
/* end of dropdown */
.navbar .logo {
  font-weight: 500;
}
/* Showcase */
.showcase {
  background: url("/img/showcase_home.jpg") no-repeat center center/cover;
  height: 90vh;
  position: relative;
  color: #333;
}
.showcase .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 100%;
}
.showcase .content h1 {
  font-size: 55px;
}
.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.showcase * {
  z-index: 10;
}
.section-break-1 {
  background-color: transparent;
  border: 0;
  border-top: black 3px double;
  height: 3px;
  margin: 4rem auto;
  width: 60%;
}
/* About Section */
.about-container {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-text {
  padding: 0px 10px;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 135px;
    padding-bottom: 30px;
  }
  .navbar a {
    padding: 0px 10px;
    margin: 0 3px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    overflow: visible;
  }

  .dropdown-content a {
    display: block;
  }

  .about-container {
    padding: 0 20px;
  }
}
